// place your custom styles her
@use "@sass-palette/hope-config";
.vp-blog-hero.fullscreen {
  z-index: 2;
}
.blog-page-wrapper {
  z-index: 2;
}

.theme-container .vp-sidebar {
    transition: 0.3s;
    top: var(--navbar-height);
    @media (min-width: hope-config.$pad) {
      z-index: 4;
      background-color: transparent;
    }
  }
// .hide-navbar {
//   .sidebar {
//     top: 0;
//   }
//   .toggle-sidebar-wrapper {
//     top: 0;
//   }
// }
#main-content.vp-page {
  backdrop-filter: saturate(150%) blur(0.75rem);
  z-index: 2;
}
#main-content.vp-project-home {
  z-index: 2;
  backdrop-filter: saturate(150%) blur(0.5rem);
}
//品如字体
@font-face {
  font-family: "PRshouxie";
  src: url("https://cdn.jsdelivr.net/gh/oragekk/blog-assets/font/8d6a7466947745f9f211cd17e0ed5dc3.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/oragekk/blog-assets/font/8d6a7466947745f9f211cd17e0ed5dc3.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes typing {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.hitokoto {
  margin: 1.2rem auto 0;
  color: #eee;
  font-weight: 600;
}

.hitokoto-text {
  position: relative;
  padding: 1rem 2.5rem;
  text-align: center;
  font-family: PRshouxie;
  font-weight: 550;
  color: floralwhite;

  &::before {
    content: "『";
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    font-size: xxx-large;
    font-weight: 500;
  }

  &::after {
    content: "』";
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    font-size: xxx-large;
    font-weight: 500;
  }

  span {
    position: relative;
    display: inline-block;
    font-size: 46px;
    font-family: PRshouxie;
    font-weight: 550;

    &::after {
      content: "|";
      font-size: 1.3rem;
      animation: typing 0.8s infinite;
    }
  }
}

.hitokoto-author {
  margin-top: 1rem;

  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  text-align: end;

  transition: opacity var(--vp-ct);
}

#oml2dStage{
  left: auto !important;
  right: 45px !important;
}

#oml2dMenus.oml2dMenus{
  left: auto !important;
  right: 14px !important;
}